In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame  # Series: kind of array, but its indexed

In [4]:
obj= Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values # to check just objects

array([ 3,  6,  9, 12])

In [6]:
obj.index # only index. Note `stop` doesnt include the number itself

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index=["USSR","Germany","China","Japan","USA"]) # casualty of ww2
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['USA']

400000

In [9]:
# Check which countries had cas > 4 mil
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
# Check if an index is included in the series
"USSR" in ww2_cas

True

In [12]:
# convert series into dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [13]:
ww2_series = Series(ww2_dict)  # from dict into series
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [14]:
countries = ["China","Germany","Japan","USA","USSR","Argentina"]

In [15]:
obj2= Series(ww2_dict,index=countries) # index is not necesarily input manually
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [16]:
pd.isnull(obj2) # detect missing value

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [17]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [18]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [19]:
# add objects to series
ww2_series +obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [21]:
obj2.name="World War 2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [24]:
obj2.index.name="countries"
obj2

countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64