In [1]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser= Series(randn(6),index=[[1,1,1,2,2,2],["a","b","c","a","b","c"]])
ser

1  a    1.126678
   b   -0.306507
   c   -0.659235
2  a   -1.489801
   b   -2.092527
   c    0.269874
dtype: float64

In [3]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [4]:
ser[1]  # call data points indexed '1'

a    1.126678
b   -0.306507
c   -0.659235
dtype: float64

In [5]:
ser[:,'a']  #  : for all higher indeces and 'a' for lower index 'a'

1    1.126678
2   -1.489801
dtype: float64

In [7]:
dframe= ser.unstack()
dframe

          a         b         c
1  1.126678 -0.306507 -0.659235
2 -1.489801 -2.092527  0.269874

In [9]:
dframe2= DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],     # `index` for rows. `[[higher index],[lower index]]`
                                       columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [13]:
dframe2.index.names= ["INDEX_1","INDEX_2"]
dframe2.columns.names=["Cities","Temp"]
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [14]:
# interchange the level
dframe2.swaplevel("Cities","Temp",axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
# sort level
dframe2.sortlevel(1)  # `1` means the second index. `axis=0` by default

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [18]:
dframe2.sum(level="Temp",axis=1) # compute a sum on a certain level

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27