In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1=Series([0,1,2], index=["A","B","C"] )
ser1

A    0
B    1
C    2
dtype: int64

In [4]:
ser2=Series([3,4,5,6], index=["A","B","C","D"])
ser2

A    3
B    4
C    5
D    6
dtype: int64

In [5]:
ser1+ser2 # D cannot computed

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [7]:
dframe1=DataFrame(np.arange(4).reshape((2,2)),columns=list("AB"), index=["NYC","LA"]) # `list("AB")` returns "A" and "B"
dframe1

     A  B
NYC  0  1
LA   2  3

In [8]:
dframe2=DataFrame(np.arange(9).reshape((3,3)), columns=list("ADC"),index=["NYC","SF","LA"])
dframe2

     A  D  C
NYC  0  1  2
SF   3  4  5
LA   6  7  8

In [10]:
dframe1+dframe2 # only the boxes that have inputs from both can be computed. Others, NaN

       A   B   C   D
LA   8.0 NaN NaN NaN
NYC  0.0 NaN NaN NaN
SF   NaN NaN NaN NaN

In [11]:
dframe1.add(dframe2,fill_value=0) # if you wanna add diff size DF. Dont forget the argu fill_value=0

       A    B    C    D
LA   8.0  3.0  8.0  7.0
NYC  0.0  1.0  2.0  1.0
SF   3.0  NaN  5.0  4.0

In [14]:
ser3= dframe2.ix[0]
ser3

A    0
D    1
C    2
Name: NYC, dtype: int64

In [17]:
dframe2+ser3   # adds [0,1,2] to all rows

     A  D   C
NYC  0  2   4
SF   3  5   7
LA   6  8  10

In [18]:
dframe2-ser3  # subtracts [0,1,2] from all rows

     A  D  C
NYC  0  0  0
SF   3  3  3
LA   6  6  6