In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
data= Series(["One","Two",np.nan,"Four"])

In [5]:
data

0     One
1     Two
2     NaN
3    Four
dtype: object

In [7]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [10]:
data.dropna()

0     One
1     Two
3    Four
dtype: object

In [12]:
dframe=DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [14]:
clean_dframe=dframe.dropna() # select only complete row 
clean_dframe

     0    1    2
0  1.0  2.0  3.0

In [15]:
dframe.dropna(how="all")  #  drop a row with all NA

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [16]:
dframe.dropna(axis=1) # select only complete column

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [17]:
npn=np.nan
dframe2=DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [18]:
dframe2.dropna(thresh=2)  # select a row with at least two data points, thresh:threshold

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [19]:
dframe2.fillna(1)  # fill na with 1

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [20]:
dframe2.fillna({0:0,1:1,2:2,3:3})  # fill 0th colum with 0, 1st with 1, and so on

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0
3  1.0  1.0  2.0  3.0

In [24]:
dframe2.fillna(0, inplace=True)  # make a change permanent 
dframe2

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  2.0  0.0  5.0  6.0
2  0.0  7.0  0.0  9.0
3  1.0  0.0  0.0  0.0